<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta charset="UTF-8" />
		<link href="../static/css/menu.css"
		          th:href="@{/css/menu.css}"
	          rel="stylesheet" />
	</head>
	<body>
		<div class="header" th:fragment="cabecera">
			<h1><a href="/">Home</a></h1>
		</div>

		<header class="header" th:fragment="menuAdmin">
            <nav class="top_menu">
                <ul>
                	<li><a href="/">Salir</a></li>
                </ul>
            </nav>
        </header>
        
        <header class="header" th:fragment="menuUser">
            <nav class="top_menu">
                <ul>
                	<li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="/">Salir</a></li>
                </ul>
            </nav>
        </header>
        
        <header class="header" th:fragment="menuUserVer">
            <nav class="top_menu">
                <ul>
                	<li><a href="/usuario">Inicio</a></li>
                    <li><a href="#">Nuevo comentario</a></li>
                    <li><a href="/">Salir</a></li>
                </ul>
            </nav>
        </header>
	</body>
</html>
