<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:replace="plantillas/header :: head"></head>
	</head>
	<body>
		<header th:replace="plantillas/header :: menuAdmin"></header>
		<h1>Propuestas en trámite</h1>
		
		<h3 th:if="${hidden}">Todavia no se creo ninguna propuesta.</h3>
		<table th:if="${not hidden}">
				<thead>
					<tr>
						<th>Propuestas </th>				
						<th>Votos actuales </th>					
						<th>Votos para ser aceptada </th>
						<th>Opcion </th>
						<th>Comentarios </th>
					</tr>
				</thead>
				<tr th:each="proposal:${proposals}">
					<td th:text="${proposal.name}"></td>
					<td th:text="${proposal.valoration}"></td>
					<td th:text="${proposal.minVotes}"></td>
					<td> 
						<a th:href="@{/rechazarPropuesta(idPropuesta=${proposal.id})}">Rechazar</a>
					</td>
					<td> <a th:href="@{/comment(id=${proposal.id})}">ver</a></td>
				</tr>
			</table>
		
	</body>
</html>