<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:replace="plantillas/header :: head"></head>
	</head>
	<body>
		<header th:replace="plantillas/header :: menuAdmin"></header>
		<h1>Propuestas en trámite</h1>
		
		<table>
				<thead>
					<tr>
						<th>Propuestas </th>						
						<th>Descripción </th>
						<th>Votar </th>
						<th>Comentarios </th>
					</tr>
				</thead>
				<tr th:each="proposal:${proposals}">
					<td th:text="${proposal.name}"></td>
					<td th:text="${proposal.content}"></td>
					<td> 
						<a th:href="@{/votarPositivo(idPropuesta=${proposal.id})}"><img src="../static/images/voteY.JPG"
							th:src="@{/images/voteY.JPG}"/></a>
						<a th:href="@{/votarNegativo(idPropuesta=${proposal.id})}"><img src="../static/images/voteN.JPG"
							th:src="@{/images/voteN.JPG}"/></a>
					</td>
					<td> <a th:href="@{/comment(id=${proposal.id})}">ver</a></td>
				</tr>
			</table>
		
	</body>
</html>