<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="plantillas/header :: head"></head>
	<body>
		<header th:replace="plantillas/header :: menuUser"></header>
		
			<table>
				<thead>
					<tr>
						<th>Propuestas </th>						
						<th>Descripción </th>
						<th>Votaciones </th>
						<th>Comentarios </th>
					</tr>
				</thead>
				<tr th:each="proposal:${proposals}">
					<td th:text="${proposal.name}"></td>
					<td th:text="${proposal.content}"></td>
					<td> 
						<img src="../static/images/voteY.JPG"
							th:src="@{/images/voteY.JPG}"/>
						<img src="../static/images/voteN.JPG" 
							th:src="@{/images/voteN.JPG}"/>
					</td>
					<td> <a th:href="@{/comment(id=${proposal.id})}">ver</a></td>
				</tr>
			</table>
		
		
	</body>
</html>